@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;600&display=swap');

/* CSS Mini Reset */

html, body, div, form, fieldset, legend, label, h1, h2, h3, h4
{
 margin: 0;
 padding: 0; 
}

a{ color: inherit; text-decoration: inherit;}

body{background-color: black;}

/*----------------UtilClasses----------------*/

.flex{
    display: flex;
}


/*----------------txt----------------*/

.txt--500--links{
    font-family: 'Mulish', sans-serif;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;
}

.txt--400{
    font-family: 'Mulish', sans-serif;
    color: white;
}

/* ----------------Nav & Header---------------- */

.menuLinks {
    list-style: none;
    margin: 22px 20px;
}

.menuLinks ul li{
    padding-left: 30px;

}

li{
    padding-left:20px;
}

header{
    width: 100%;
    background-color:rgba(37, 37, 37, 0.048);
    display: flex;
    justify-content: space-between; 
}

.navBar{
    padding-right: 50px;
}

.logo{
    padding-left:50px;
    padding-top: 10px;
    width: 120px;
    height: 130px;
}

/* ----------------SPLASH CSS---------------- */

.landingPage{
    background-image: url(imgs/plant2.jpg) ;
    height: 100vh;
    width: 100vw;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}

.splash--inner{
    position: absolute;
    bottom:100px;
    left: 150px;
}

.splash--inner h1{
    font-family: 'Mulish', sans-serif;
    color: white;
    font-size: 20px;
    font-weight: lighter;
}

.splash--inner h2{
    font-family: 'Mulish', sans-serif;
    color:#D7503E;
    font-size: 50px;
    font-weight: 600px;
    text-transform: uppercase;
    position: relative;
}

/* Button CSS */
.button-1{
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  font-family: 'Mulish', sans-serif;
  font-size: 14px;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  position: relative;
  vertical-align: baseline;
  width: auto;
}

/* ----------------SECTIONS A AND B---------------- */

.Section--A{
    justify-content: space-between;
}

.Section--B{
    justify-content: space-between;
}










/* ---------------- FOOTER ---------------- */
footer{
    display: flex;
    justify-content: center;
    background-color: black;
}

